.img-fluid {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 10px;
}

.recipe-show {
  color: $dark-blue;
  max-width: 900px;
}

.ingredients {
  background-color: white;
  border-radius: 10px;

  p {
  margin-bottom: 2px;
  font-weight: 600;
  }
}

.steps {
  background-color: white;
  border-radius: 10px;

  p {
    margin-bottom: 0;
  }
}


.directions {
  h3 {
    font-weight: 600;
    color: $red;
  }

  p {
    font-size: 16px;
  }
}

.badge {
  border-radius: 5px;
}
.bg-red {
  background-color: rgb(110, 190, 110);
  font-weight: 400;
}

.bg-grey {
  background-color: rgb(228, 228, 228);
  color: $dark-blue;
  font-weight: 400;
}



// shopping list modal

.form-check-input.is-valid ~ .form-check-label {
  color: $dark-blue;
}

.was-validated .form-check-input:valid, .form-check-input.is-valid {
  border-color: $dark-blue;
}

.form-check-input.is-valid:checked {
  background-color: $red;
}

.col-form-label {
  display: none;
}
