<div class="footer mt-auto">
  <div class="footer-links">
    <%= link_to "Home", root_path %>
    <%= link_to "Recipes", root_path %>
    <%= link_to "Pantry", root_path %>
    <br>
    <br>
    <p><em>Made with love at Le Wagon Dubai, Batch #792</em></p>
  </div>
</div>
