.btn-red {
  background-color: $red;
  color: white;
  border-radius: 6px;
  padding: 8px 20px;
}

.btn-red:hover {
  background-color: #cf1238;
  color: white;
}

.btn-yellow {
  background-color: $yellow;
  color: $dark-blue;
  border-radius: 6px;
  padding: 8px 20px;
}

.btn-lg {
  padding-left: 60px;
  padding-right: 60px;
}

.btn-yellow:hover {
  background-color: #eccf26;
  color: $dark-blue;
}

.fa-trash-alt {
  color: $dark-blue;
}

.fa-trash-alt:hover {
  color: $red;
}

.fa-heart {
  position:   absolute;
  top: 10px;
  right: 12px;
}

.fa-heart:hover {
  color:$red;
}

.btn-plus {
  background-color: $yellow;
  border: none;
  height: 100%;
  font-size: 16px;
  color: $red;
}
