.btn-red {
  background-color: $red;
  color: white;
  border-radius: 6px;
  padding: 8px 20px;
}

.btn-red:hover {
  background-color: #cf1238;
  color: white;
}

.btn-yellow {
  background-color: $yellow;
  color: $dark-blue;
  border-radius: 6px;
  padding: 8px 20px;
}

.btn-lg {
  padding-left: 60px;
  padding-right: 60px;
}

.btn-yellow:hover {
  background-color: #eccf26;
  color: $dark-blue;
}

.fa-trash-alt {
  color: $dark-blue;
}

.fa-trash-alt:hover {
  color: $red;
}

.card-div {

  .fa-heart {
    position:   absolute;
    top: 10px;
    right: 12px;
    color: rgb(183, 183, 183);
    font-size: 1.2rem;
    padding: 7px;
    background-color: white;
    border-radius: 20px;
  }

  .fa-heart:hover {
    color:$red;

  }
}
