.checkbox_container {
  display: block;
  vertical-align: 1px;
  margin: 5px;
 }
.checkbox_container input {
  display: inline;
  background-color: $red !important;
  color: $red !important;
 }
.checkbox_container .collection_check_boxes{
  display: inline;
  vertical-align: 1px;
  margin: 10px;
 }

 .form-check-input:checked {
  background-color: #ed254e;
  border-color: #011936;
}
