.form {
  background-color: $yellow;
  border-radius: 10px;
  color: $dark-blue;

  h1 {
    font-size: 30px;
  }
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-modal-hidden {
  display: none;
}

.modal-content {
  width: 1000px;
  height: 600px;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
}

.form-actions .btn{
  width: 100%;
}

.no-bs-validation {
     color: $dark-blue !important;
    &:focus {
      color: $dark-blue !important;
     }
}


.search-input {
  margin-right: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.search-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.check_box_red {
  background-color: $red;
}
input.check_box:checked {
  background-color: $red;
}


.check-box-design {
  color: red;
}



.form-check {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
}



.form-check-input {
  width: 1.2em;
  height: 1.2em;
}

.form-check-input[type="checkbox"] {
  border-radius: 1em;
}

.form-check-input.is-valid ~ .form-check-label {
  margin-left: 5px;
  margin-top: 2px;
}
