.nav-pills .nav-link {
  border-radius: 0px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: $dark-blue;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $red;
}

.avatar {
  margin-left: 3px;
}



// preferences nav
.nav-tabs .nav-link  {
  color: $mid-blue;
  font-weight: 600;
  background-color: #e3e3e3;
}

.nav-tabs .nav-link.active  {
  background-color: $red;
  color: white;
}


// .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
//   border-color: none;
// }


// .nav-tabs .nav-link:hover {
//   border: none;
// }
